.page {
  // margin: 0 auto;
  // width: 70%;
  // max-width: 1000px;
  height: 100%;
  // background: red;
  background: #323335;
}
.header,
.footer {
  margin: 0 auto;
  width: 70%;
  max-width: 1000px;
}
.header {
  padding: 8px 0;
}
.bodyer {
  .img-box {
    position: relative;
    background: red;
    .img {
      background: red;
    }
    .rect {
      color: red;
      position: absolute;
      left: 0;
      top: 0;
      //   height: 100px;
      //   width: 100px;
      border: 1px solid red;
    }
  }
  .inp {
    margin-top: 16px;
  }
}
.footer {
  padding: 16px 0;
  .btn {
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
