@import './_var.scss';
#app {
    height: 100vh;
    width: 100vw;
}
#header {
    padding: $gap-half;
    box-sizing: border-box;
    height: 60px;
    background: $color-bg;
    .title {
        font-size: 26px;
        font-weight: 500;
        align-self: center;
    }
    .box {
        font-size: 18px;
    }
}
#bodyer {
    position: relative;
    #mask {
        position: absolute;
        left: 0;
        top: 0;
        height: 750px;
        width: 750px;
        background: rgba(#000000, 0.5);
        #start-btn{
            border: none;
            border-radius: 4px;
            background: darkorange;
        }
    }
    #canvas {
        display: block;
        background: #ccc;
    }
}
#footer {
    padding: $gap-half;
    line-height: 26px;
    font-size: 16px;
    box-sizing: border-box;
    background: $color-bg;
    .title {
        font-weight: bold;
    }
    .p {
        text-indent: 2em;
    }
}
